#header {
    text-align: center;
}

.sammy {
    width: 54%;
    height: 54%;
}

.text {
    font-family: Helvetica;
}

body {
    background-color: lightblue;
}

.show {
    display: block;
}

.dropdown {
    float: left;
}

.drop-content {
    display: none;

}

