#header {
    text-align: center;
}

.sammy {
    width: 44%;
    height: 44%;
}

.text {
    font-family: Times;
}

body {
    background-color: lightblue;
}

.show {
    display: block;
}

.dropdown {
    float: left;
}

.drop-content {
    display: none;

}

.store-info {
    font-family: Arial;

}

#pioneer-cookies {
    font-family: Helvetica;
    float: right;
}

#airport-cookies {
    font-family: Helvetica;
    float: right;
}

#washington-cookies {
    font-family: Helvetica;
    float: right;
}